@borderColor: #DCDCDC;

.create-note {
  width: 40%;
  text-align: center;
  margin: 0 auto;
}

hr {
  border-style: solid;
  border-color: @borderColor;
}

.create-title {
  width: 100%;
  height: 25px;
  display: block;
  border-style: solid;
  border-color: @borderColor;

}

.create-button {
  display: block;
  width: 100%;
  border-style: solid;
  border-color: @borderColor;

}
.button{
  width: 120px;
  height: 30px;
  margin: 10px 5px 0 5px;
  color: white;
}
.submit-button {
  background-color: red;
  .button;
}
.cancel-button {
  background-color: gray;
  .button;
}
