.note-body {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.show-body {
  width: 80%;
  margin: 0 auto;
}

.create-button {
  background-color: red;
  padding: 20px 40px 20px 40px;
}

.home-item-div {
  height: 300px;
  width: 200px;
  float: left;
  margin: 20px;
  text-align: center;
  line-height: 300px;
}

.home-item-div a{
  text-decoration:none;
  font-size: 20px;
}
.home-item-div span{
  display: block;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.home-item-div img{
  height: 300px;
  width: 200px;
}

.home-item-div:nth-child(even) {
  background-color: #F7D794;
}

.home-item-div:nth-child(odd) {
  background-color: #F3A683;
}
